.mainIndex {
    .titulo {
        position: relative;
        @extend %flexCenter;
        height: 600px;
        width: 100%;
        background-image: url(../img/FotoAlemania2.jpg);
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        h1 {
            font-family: "Outfit", sans-serif;
            font-size: 100px;
            color: $colorPrincipal2;
            text-shadow: 5px 7px $colorPrincipal1;
            ;
            backdrop-filter: blur(15px);
            border-radius: 20px;
            padding: 15px;
            text-align: center;
        }
    }

    .infoAlemania1 {
        background-color: $colorPrincipal2;
        height: 600px;
        display: flex;
        margin-top: 50px;

        img {
            height: 100%;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            width: 50vw;
        }

        div {
            @extend %flexCenter;

            p {
                font-family: "Outfit", sans-serif;
                margin: 10px 20px;
                text-align: justify;
                font-size: 24px;
            }
        }
    }

    .infoAlemania2 {
        background-color: $colorPrincipal1;
        height: 600px;
        display: flex;
        justify-content: flex-end;

        div {
            min-width: 30vw;
            @extend %flexCenter;

            p {
                font-family: "Outfit", sans-serif;
                margin: 10px 10%;
                font-size: 24px;
                text-align: justify;
            }
        }

        img {
            height: 100%;
            width: 50vw;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
        }
    }


    .informacion {
        h2 {
            font-family: "Outfit", sans-serif;
            font-size: 100px;
            text-align: center;
            text-shadow: 3px 3px 4px #4d4d4d, 6px 6px 3px #636363, 9px 9px 3px #848484, 12px 12px 3px #b1b1b1, 15px 15px 3px #d3d3d3, 18px 18px 3px #F1F1F1;
            margin-top: 40px;
        }

        nav {
            @extend %flexCenter;
            flex-direction: row;
            flex-wrap: wrap;

            a {
                text-decoration: none;

                div {
                    width: 450px;
                    height: 250px;
                    border: 5px solid $colorOscuro;
                    border-radius: 30px;
                    margin: 40px 40px 15px 40px;
                    @extend %flexCenter;

                    p {
                        font-size: 50px;
                        font-weight: 900;
                        font-family: "Outfit", sans-serif;
                        color: black;
                        backdrop-filter: blur(10px);
                        border-radius: 20px;
                        padding: 10px;
                    }
                }

                .historiaAlemania {
                    background-image: url(../img/Berlinwall.webp);
                    background-size: 100%;
                    background-position-y: 30%;
                }

                .geografiaAlemania {
                    background-image: url(../img/Germanygeography.jpg);
                    background-size: 100%;
                    background-position-y: 50%;
                }

                .politicaAlemania {
                    background-image: url(../img/PoliticaAlemania.webp);
                    background-size: 100%;
                }

                .culturaAlemania {
                    background-image: url(../img/CulturaAlemana.jpeg);
                    background-size: 100%;
                    background-position-y: 30%;
                }
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorPrincipal2;
    margin-top: 100px;

    h2 {
        margin: 30px;
        font-size: 60px;
        font-family: "Outfit", sans-serif;
        color: black;
        text-align: center;
    }

    .divisorGrande {
        height: 2px;
        width: 75vw;
        background-color: #364F6B55;
        margin: 40px;
        justify-self: center;
    }

    .divisorPequeno {
        height: 2px;
        width: 45vw;
        background-color: #364F6B55;
        justify-self: center;
    }

    .footerContainer {
        @extend %flexCenter;

        a {
            list-style: none;
            text-decoration: none;

            div {
                height: 85px;
                width: 250px;
                background-color: $colorPrincipal1;
                display: flex;
                align-items: center;
                margin: 50px;
                padding: 20px;
                border-radius: 20px;
                box-shadow: 8px 8px #397e82;

                img {
                    width: 70px;
                    margin: 5px;
                }

                p {
                    margin: auto;
                    font-size: 30px;
                    font-family: "Outfit", sans-serif;
                    color: black;
                }
            }

            .instagram {
                margin-left: 0;
            }

            .x {
                margin-right: 0;
            }
        }
    }
}