.mainPolitica {
    background-color: $colorClaro;
    .tituloPolitica {
        background-image: url(../img/reichstag.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 20%;
        height: 90vh;
        width: 100%;
        @extend %flexCenter;

        h1 {
            font-size: 70px;
            font-family: "Outfit", sans-serif;
            font-weight: 600;
            backdrop-filter: blur(20px);
            color:$colorClaro ;
            text-shadow: 5px 4px #b1b1b1;
            padding: 30px;
            border-radius: 10px;
        }
    }

    p {
        font-size: 25px;
        font-family: "Outfit", sans-serif;
        font-weight: 600;
        margin: 70px 150px;
        line-height: 1.5;
    }

    .contenedorPresidente {
        @extend %flexCenter;
    }

    .contenedorBandera {
        @extend %flexCenter;
        img{
            width: 800px;
        }
    }

    .politicaParr1 {
        background-color: $colorPrincipal1;
        box-shadow: 10px 8px #087379;
        padding: 40px;
        border-radius: 25px;
    }

    .politicaParr3 {
        background-color: $colorPrincipal2;
        box-shadow: 10px 8px #950a33;
        padding: 40px;
        border-radius: 25px;
    }
}